1. Write a code to create a string with your name and print it

In [ ]:
str="Bhanu"
print(str)

Bhanu

2. Write a code to find the length of the string "Hello World"

In [ ]:
s="Hello World"
len(s)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
string="Python Programming"
string[0:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase

In [ ]:
text="hello"
text.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
st="I like apple"
st.replace("apple","orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
l=[1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
l1=[1,2,3,4,5]
l1.remove(3)
print(l1)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
l2=['a','b','c','d']
l2[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
l3=[10,20,30,40,50]
l3[::-1]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
t=(100,200,300)
print(t)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
tup=("red","green","blue","yellow")
tup[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
tu=(10,20,5,15)
min(tu)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
tup=("dog","cat","rabbit")
tup.index("cat")

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
fruits=("apple","banana","kiwi")
"kiwi" in fruits

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s={"a","b","c"}
print(s)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s={1,2,3,4,5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
s1={1,2,3}
s2={3,4,5}
print(s1 | s2)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
s1={1,2,3}
s2={2,3,4}
print(s1 & s2)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
d={"name":"bhanu","age":26,"city":"mumbai"}
print(d)

{'name': 'bhanu', 'age': 26, 'city': 'mumbai'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dic={'name': 'John', 'age': 25}
dic["country"]="USA"
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
d={'name': 'Alice', 'age': 30}
d.get("name")
#another way
d["name"]

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
d={'name':'Alice','city':'Paris'}
if "city" in d:
    print("exists")
else:
    print("not exists")

exists

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
l=[1,3.4,True,5+6j,"Aman"]
print(l)
t=(1,2,3,4)
print(t)
d={"name":"bhanu","age":26}
print(d)

[1, 3.4, True, (5+6j), 'Aman']
(1, 2, 3, 4)
{'name': 'bhanu', 'age': 26}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
l=[20,15,3,75,50]
sorted(l)

[3, 15, 20, 50, 75]

28. Write a code to create a list with strings and print the element at the third index

In [ ]:
l=["Aman","Bhanu","Chetan","Dhruv"]
print(l[3])

Dhruv

29. Write a code to combine two dictionaries into one and print the result

In [ ]:
d1={"name":"Bhanu","age":26}
d2={"city":"Mumbai","country":"India"}
d1.update(d2)
print(d1)

{'name': 'Bhanu', 'age': 26, 'city': 'Mumbai', 'country': 'India'}

30. Write a code to convert a list of strings into a set.

In [ ]:
l={"Bhanu","Chetan","Dhruv"}
set(l)

{'Bhanu', 'Chetan', 'Dhruv'}