1. Write a Python program to print "Hello, World!"

In [ ]:
print("Hello, World!")

Hello, World!

2. Write a Python program that displays your name and age.

In [ ]:
print("Name: Bhalchandra Joshi")
print("Age: 24")

Name: Bhalchandra Joshi
Age: 24

3. Write code to print all the pre-defined keywords in Python using the keyword library.

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

4. Write a program that checks if a given word is a Python keyword.

In [ ]:
import keyword
word = "for"
if keyword.iskeyword(word):
    print(f"{word} is a Python keyword.")
else:
    print(f"{word} is not a Python keyword.")

for is a Python keyword.

5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each

In [ ]:
list=[1,2,3,4]
print(list)
tuple=(5,6,7,8)
print(tuple)
list[3]=5
print(list)
tuple[3]=9
print(tuple)

[1, 2, 3, 4]
(5, 6, 7, 8)
[1, 2, 3, 5]

TypeError: 'tuple' object does not support item assignment

6.  Write a function to demonstrate the behavior of mutable and immutable arguments

In [ ]:
l=[1,2,"Bhanu",True]
l[3]="Shanu"
print(l)
s="Bhanu"
s[0]="S"
print(s)

[1, 2, 'Bhanu', 'Shanu']

TypeError: 'str' object does not support item assignment

7. Write a program that performs basic arithmetic operations on two user-input numbers.

In [ ]:
a=input("Enter a number: ")
b=input("Enter another number: ")
sum=int(a)+int(b)
print(sum)

Enter a number: 5
Enter another number: 10
15

8.  Write a program to demonstrate the use of logical operators.

In [ ]:
a=36
if(a>0 and a%2==0):
  print("Positive Even Integer")
elif (a<0):
  print("Negative Ineteger")
else:
  print("Odd Integer")

Positive Even Integer

9.  Write a Python program to convert user input from string to integer, float, and boolean types

In [ ]:
s=input("Enter Number")
print(str(s))
print(int(s))
print(float(s))
print(bool(s))

Enter Number100
100
100
100.0
True

10.  Write code to demonstrate type casting with list elements

In [ ]:
l=[1,True,"Bhanu",4.3]
l[3]=int(l[3])
l[0]=str(l[0])
l[1]=int(l[1])
print(l)

['1', 1, 'Bhanu', 4]

11. Write a program that checks if a number is positive, negative, or zero

In [ ]:
x=int(input("Enter a number"))
if(x>0):
  print("Positive")
elif(x<0):
  print("Negative")
else:
  print("Zero")

Enter a number-8
Negative

12. Write a for loop to print numbers from 1 to 10.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

13. Write a Python program to find the sum of all even numbers between 1 and 50

In [ ]:
for i in range(1,51,1):
    sum=sum+i
print(sum)

2550

14. Write a program to reverse a string using a while loop.

In [ ]:
s="Bhalchandra"
i=len(s)-1
while i>=0:
  print(s[i],end=" ")
  i=i-1

a r d n a h c l a h B

15. Write a Python program to calculate the factorial of a number provided by the user using a while loop

In [89]:
f=int(input("Enter a number"))
i=f
while i>0:
  f*=i
  i-=i
print(f)

Enter a number4
16